# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# LangSm Configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT=your_langchain_project_name_here
LANGCHAIN_ENDPOINT=your_langchain_endpoint_here

# Tavily API Key
TAVILY_API_KEY=your_tavily_api_key_here

# Llama Cloud API Key
LLAMA_CLOUD_API_KEY=your_llama_cloud_api_key_here

# Anthropic API Key
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# Pinecone API Key
PINECONE_API_KEY=your_pinecone_api_key_here

# Add any other environment-specific variables your project needs